.container {
    background-color: #FFFFFF;
    border-radius: 3px;
    padding: 25px 40px;
    box-shadow: 0px 0px 0px 1px rgb(0 0 0 / 8%);
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    position: relative;
}

.user-pass {
    margin: 0 0 1.2em;
    word-wrap: break-word;
}

.error-message {
    background: #EB5A46;
    color: #FBEDEB;
    font-size: 14px;
    line-height: 1.333;
    border-radius: 4px;
    border: 1px solid #EB5A46;
    display: inline-block;
    padding: .5em 1em;
}

.input-group{
margin:10px 0px;//输入框上下外边距为10px,左右为0px
}
h3{
padding:5px;
border-bottom:1px solid #ddd;//h3字体下边框
}
li{
list-style-type:square;//列表项图标为小正方形
margin:10px 0;//上下外边距是10px
}
em{//强调的样式
color:#c7254e;
font-style: inherit;
background-color: #f9f2f4;
}

body
{
    margin: 0;
    padding: 0;
    background-color: #4983f0ba;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.login{
    width: 382px;
    overflow: hidden;
    margin: auto;
    margin: 20px 0px 0px 450px;
    padding: 80px;
    background: #438175;
    border-radius: 16px;
}
h2{
    text-align: center;
    color: #277582;
    padding: 20px;
}
label{
    color: #30e682;
    font-size: 17px;
}
#Uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 4px;
    padding-left: 8px;
}
#Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 4px;
    padding-left: 8px;
}
#log{
    width: 370px;
    height: 30px;
    border: none;
    border-radius: 20px;
    color: blue;
}
span{
    color: white;
    font-size: 17px;
}
a{
    font-size: 16px;
    background-color: rgb(248, 245, 245);
}
