.error-message {
    background: #EB5A46;
    color: #FBEDEB;
    font-size: 14px;
    line-height: 1.333;
    border-radius: 4px;
    border: 1px solid #EB5A46;
    display: inline-block;
    padding: .5em 1em;
}