<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
</head>
    <body>

        {% block content %}

            <div class = "jumbotron text-center">
                <h1 class="display-4">Edit Information</h1>
            </div>

            {% if message %}
                <div class = "form-control btn btn-outline-success btn-lg mb-3" disabled>
                    {{ message }}
                </div>
            {% endif %}

            <div>
                <form action = "" method="post">
                    {% csrf_token %}
                    <div class = "container">
                        <div class = "row">
                            <div class="col-md-6 mb-5">
                                <input type = "text" class="form-control btn btn-outline-secondary btn-lg" id = "first" name="user_first_name" value=" First: {{ user.user_first_name }}" disabled>
                            </div>
                            <div class="col-md-6 mb-5">
                                <input type = "text" class="form-control btn btn-outline-secondary btn-lg" id = "last" name="user_last_name" value=" Last: {{ user.user_last_name }}" disabled>
                            </div>
                        </div>
                        <div class = "row">
                            <div class="col-md-6 mb-5">
                                <input type = "tel" class="form-control btn btn-outline-secondary btn-lg" id = "phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="phone_number" placeholder="Enter a phone number EX: 414-564-4115">
                            </div>
                            <div class="col-md-6 mb-5">
                                <input type = "text" class="form-control btn btn-outline-secondary btn-lg" id = "email" name="email" value="Email: {{ user.email }}" disabled>
                            </div>
                        </div>
                        <div class = "row">
                            <div class="col-md-6 mb-5">
                                <input type = "text" class="form-control btn btn-outline-secondary btn-lg" id = "username" name="username" value="Username: {{ user.username }} " disabled>
                            </div>
                            <div class="col-md-6 mb-2">
                                <input type = "password" class="form-control btn btn-outline-secondary btn-lg" id = "pass" name="password" placeholder="Enter in a password">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col  mb-3 text-center">
                                <input type = "text" class=" btn btn-outline-secondary btn-lg" id = "second_email" name="second_email" placeholder="Secondary email">
                            </div>
                        </div>
                        <div class = "row">
                            <div class="col-md text-center">
                                <button type="submit" class=" form-control btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        </br>
                    </div>
                </form>
            </div>

            <div class="col text-center">
                <a href="{% url 'Main' %}" class = "btn btn-primary">Back</a>
            </div>
        {% endblock %}

    </body>
</html>