<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" media="screen">
</head>
<body>
    <div class = container>
        <div>
            <h1>Create Account</h1>
            <form action="/" method="post"> {% csrf_token %}
                <div class="user-pass">

                    <input class="form-field" type="text" value= "{{ reload_content.0 }}" placeholder="Enter a username" name="uname" required>

                    <input class="form-field" type="text" value= "{{ reload_content.1 }}" placeholder="Enter an email" name="email" required>

                    <input class="form-field" type="text" value= "{{ reload_content.2 }}" placeholder="Enter first name" name="first_name" required>

                    <input class="form-field" type="text" value= "{{ reload_content.3 }}" placeholder="Enter last name" name="last_name" required>

                    <input class="form-field" type="text" value= "{{ reload_content.4 }}" placeholder="Enter password" name="password" required>

                    <input class="form-field" type="text" value= "{{ reload_content.5 }}" placeholder="Confirm password" name="password2" required>

                    <button type="submit" name="create_account_button">Submit</button>

                </div>
            </form>
            <div>
                <p class="error-message">{{ message }}</p>
            </div>
        </div>
    </div>
</body>
</html>