{% load static %}
<link
    rel="stylesheet"
    href="{% static 'css/bootstrap.css' %}"
    type="text/css"
>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ table_model }} Data Table</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg rounded shadow mt-2">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">
                    Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                    Explore
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Popular
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                    Help
                </a>
              </li>
              <form action="/" method="post"> {% csrf_token %}
                  <div class="pt-2">
                    <button type="button submit" name="search_page">Campaign Search</button>
                  </div>
              </form>
              {% if role == "Admin"%}
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/view_database">
                        View Database
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/edit_database">
                        Edit Database
                    </a>
                  </li>
              {% endif %}
            </ul>
              {% if login is None %}
                <a class="nav-link" href="#">
                <form action="/" method="post"> {% csrf_token %}
                  <div class="pt-2">
                    <button type="button submit" class="btn primary-btn pr-1" name="login_page">Login</button>
                  </div>
                </form>
                </a>
              {% else %}
                  <div class="row align-items-center">
                    <div class="col-3">
                     <img src="./static/images/profile-user.png" alt="" class="user-profile">
                    </div>
                    <div class="col-6">
                      <div class="dropdown">
                        <a class="nav-link dropdown-toggle pr-2" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          My Profile
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li>
                            <a href="#" class="nav-link">
                              <form action="/" method="post"> {% csrf_token %}
                                <div class="d-grid gap-2">
                                  <button type="button submit" class="btn btn-light btn-border-width:10px"name="my_campaigns">My Campaigns</button>
                                </div>
                              </form>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="nav-link">
                              <form action="/" method="post"> {% csrf_token %}
                                <div class="d-grid gap-2">
                                  <button type="button submit" class="btn btn-light"name="create_campaign_page">Create Campaign</button>
                                </div>
                              </form>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="nav-link" name="edit_profile_page">
                              <form action="/" method="post"> {% csrf_token %}
                                <div class="d-grid gap-2">
                                  <button type="button submit" class="btn btn-light"name="edit_profile_page">Edit Profile</button>
                                </div>
                              </form>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="nav-link">
                              <form action="/" method="post"> {% csrf_token %}
                                <div class="d-grid gap-2">
                                  <button type="button submit" class="btn btn-danger btn-block"name="logout">Log Out</button>
                                </div>
                              </form>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
              {% endif %}
          </div>
        </div>
    </nav>
    <h1>{{ table_model }} Record Editor</h1>
    {% if ask_for_confirmation == 1 %}
        <form action="" method="post"> {% csrf_token %}
            <h5>Are you sure you want to make the following changes to {{ selected_record }}?</h5>
            <ul>
              {% for name, change in changes_list %}
                  <li>Changed {{ name }} to {{ change }}</li>
              {%  endfor %}
            </ul>
            <input type="submit" value="Confirm Changes" name="confirm-changes">
            <input type="submit" value="Cancel" name="cancel-changes">
        </form>
    {% elif ask_for_confirmation == 2 %}
        <h5>Changes successfully saved for {{ selected_record }}!</h5>
    {% endif %}
    <form action="" method="post"> {% csrf_token %}
        <label for="selected-table">Pick a Table to Edit:</label>
        <select name="selected-table" id="selected-table">
            {% for model in tables %}
                <option value="{{ model }}" {% if model == table_model %}selected{% endif %}>{{ model }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Select Table">
    </form>
    {% if table_selected == True %}
        <form action="" method="post"> {% csrf_token %}
            <label for="selected-record">Pick a Record to Edit:</label>
            <select name="selected-record" id="selected-record">
                {% for pk in primary_key_values %}
                    <option value="{{ pk }}" {% if pk == selected_record %}selected{% endif %}>{{ pk }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Load Data">
        </form>
    {% endif %}
    {% if table_selected == True and selected_record != "" %}
         <form action="" method="post" name="edit-record" id="edit-record"> {% csrf_token %}
            {% for field_name, choices, not_editable, field_value in fields_list %}
                {% if field_name == "password" %}
                    <label for="password">New Password: </label>
                {% else %}
                    <label for="{{ field_name }}">{{ field_name }}: </label>
                {% endif %}
                {% if not_editable == True %}
                    <label>{{ field_value }}</label>
                {% elif choices is not None %}
                    <select name={{ field_name }} id={{ field_name }}>
                        {% for choice in choices %}
                            <option value="{{ choice }}" {% if field_value == choice %}selected{% endif %}>{{ choice }}</option>
                        {% endfor %}
                    </select>
                {% elif field_name == "password" %}
                    <input type="password" id={{ field_name }} name={{ field_name }} />
                {% else %}
                    <input type="text" id={{ field_name }} name={{ field_name }} value="{{ field_value }}" />
                {% endif %}
                <br>
            {% endfor %}
            <input type="submit" value="Save Changes" name="save-changes">
        </form>
    {% endif %}
</body>
</html>
<style>
  .user-profile{
  width: 35px;
  }
  .navbar{
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
  }
</style>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>