{% load static %}
<link
    rel="stylesheet"
    href="{% static 'css/bootstrap.css' %}"
    type="text/css"
>
<script>
        var res_licenseImg;
        $("#file_licenseImg").fileinput({
            language: 'zh',
            uploadUrl: urlQJ+'/uploadfiles',
            allowedFileExtensions : ['jpg', 'png'],
            maxFileSize: 5000,
            maxFilesNum: 1,
            showCaption: false,
            showUpload: false,
            slugCallback: function(filename) {
                return filename.replace('(', '_').replace(']', '_');
            }
        });

        $('#file_licenseImg').on('fileuploaded', function(event, data, previewId, index){
            res_licenseImg = data.response.imgurl;
            // console.log(res_licenseImg);
            if(res_licenseImg){
                $('.imgReg').css('display', 'inline')
                $('#file_licenseImg').css('display', 'none');
                $('.btn-file').css('display', 'none');
            }
            $('.fileinput-remove').click(function(){
                $('#file_licenseImg').css('display', 'inline-block');
                $('.btn-file').css('display', 'inline-block');
            })
        })
</script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet">
    <title>Edit Profile</title>
</head>
<body>
    <div class="my-content">
        <div class="row mt-2">
            <h1>Campaign Details</h1>
        </div>
        <div class="row">
            <div class="col">
                <form action="/" method="post" class="form-container" enctype="multipart/form-data">{% csrf_token %}
                    <div class="row align-items-center mt-5">
                        <p><b>Edit Information</b></p>
                        <hr>
                        <div class="col-3">
                            <p>This is all the information we have stored for this campaign. Feel free to edit any information</p>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="emailInput">Campaign Name</label>
                                <input type="text" value="{{ campaign.campaign_name }}" name="name" class="form-control" id="emailInput" aria-describedby="firstname" placeholder="Enter Email..." >
                            </div>
                            <div class="form-group mt-2">
                                <label for="firstName">Campaign Description</label>
                                <input type="text" value="{{ campaign.campaign_description }}" name="description" class="form-control" id="firstName" aria-describedby="firstname" placeholder="Enter First Name..." >
                            </div>
                            <a href="/">
                                <button class="btn mt-3" name="edit_profile_button">Home</button></a>
                            <button class="btn mt-3" type="submit" name="edit_campaign_button">Save</button>
                        </div>
                    </div>
                   </form>
                 </div>
            </div>
        </div>
    </div>
</body>
</html>