{% load static %}
<link
    rel="stylesheet"
    href="{% static 'css/bootstrap.css' %}"
    type="text/css"
>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet">
    <title>Dashboard</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg rounded shadow mt-2">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">
                    Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                    Explore
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Popular
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                    Help
                </a>
              </li>
              <form action="/" method="post"> {% csrf_token %}
                  <div class="pt-2">
                    <button type="button submit" name="search_page">Campaign Search</button>
                  </div>
              </form>
              {% if role == "Admin"%}
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/view_database">
                        View Database
                    </a>
                  </li>
              {% endif %}
            </ul>
              {% if login is None %}
                <a class="nav-link" href="#">
                <form action="/" method="post"> {% csrf_token %}
                  <div class="pt-2">
                    <button type="button submit" class="btn primary-btn pr-1" name="login_page">Login</button>
                  </div>
                </form>
                </a>
              {% endif %}

              {% if login is not None %}
              <div class="row align-items-center">
                <div class="col-3">
                 <img src="./static/images/profile-user.png" alt="" class="user-profile">
                </div>
                <div class="col-6">
                  <div class="dropdown">
                    <a class="nav-link dropdown-toggle pr-2" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      My Profile
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li>
                        <a href="#" class="nav-link">
                          <form action="/" method="post"> {% csrf_token %}
                            <div class="d-grid gap-2">
                              <button type="button submit" class="btn btn-light btn-border-width:10px"name="my_campaigns">My Campaigns</button>
                            </div>
                          </form>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="nav-link">
                          <form action="/" method="post"> {% csrf_token %}
                            <div class="d-grid gap-2">
                              <button type="button submit" class="btn btn-light"name="create_campaign_page">Create Campaign</button>
                            </div>
                          </form>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="nav-link" name="edit_profile_page">
                          <form action="/" method="post"> {% csrf_token %}
                            <div class="d-grid gap-2">
                              <button type="button submit" class="btn btn-light"name="edit_profile_page">Edit Profile</button>
                            </div>
                          </form>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="nav-link">
                          <form action="/" method="post"> {% csrf_token %}
                            <div class="d-grid gap-2">
                              <button type="button submit" class="btn btn-danger btn-block"name="logout">Log Out</button>
                            </div>
                          </form>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              {% endif %}
          </div>
        </div>

    </nav>
    <div class="row mt-1 ml-1">
      <div class="col-7">
        <img src="./static/images/dashboard-img-1.png" alt="" class="img homepage-img">
      </div>
      <div class="col-4">
        <h1>Get Started!</h1>
        <p class="mr-1">He had disappointed himself more than anyone else. That wasn't to say that he hadn't disappointed others. The fact was that he had disappointed a lot of people who were close to him. The fact that they were disappointed in him was something that made him even more disappointed in himself. Yet here he was, about to do the exact same things that had caused all the disappointment in the first place because he didn't know what else to do.</p>
      </div>
    </div>
    <div class="row mt-1 middle-element">
      <div class="col-5 txt-col align-items-center">
        <h1 class="mt-1 ml-1">Get Started!</h1>
        <p class="ml-1">"Begin today!" That's all the note said. There was no indication from where it came or who may have written it. Had it been meant for someone else? Meghan 
          looked around the room, but nobody made eye contact back. For a brief moment, she thought it might be a message for her to follow her dreams, but ultimately 
          decided it was easier to ignore it as she crumpled it up and threw it away.</p>
      </div>
      <div class="col-7 img-col">
        <img src="./static/images/dashboard-img-2.png" alt="" class="img homepage-img">
      </div>
    </div>
    <div class="row mt-1">
      <div class="row"><h1>Newest Campaign</h1></div>
      <div class="row">
        {% for campaign in campaign_index%}
        <div class="col-4">
          <div class="card-fluid">
            <img class="card-img-top" src="./static/images/media/campaign_pic/{{ campaign.campaign_code }}.png" alt="Card image cap" style="width:100%;height:60%">
            <div class="card-body">
              <h5 class="card-title">{{ campaign.campaign_name }}</h5>
              <p class="card-text">{{ campaign.campaign_description }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
<style>
  .navbar{
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
  }
  .nav-link{
    color: #302B27;
  }
  .mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 80px !important;
}
.ml-1 {
  margin-left: 40px;
}
.homepage-img {
  width: 100%;
}
.primary-btn {
  background-color: #FFB400;
}
.primary-btn:hover {
  background-color: #302B27;
  color: #FFFFFF;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.btn{
  border-radius: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}
.btn-light{
  background-color: #FFFFFF;
}
.user-profile{
  width: 35px;
}
.txt-col{
  background: rgb(255,121,0);
  background: linear-gradient(90deg, rgba(255,121,0,1) 0%, rgba(255,180,0,1) 91%);
  border-radius: 25px;
}
</style>