{% load static %}
<link
    rel="stylesheet"
    href="{% static 'css/bootstrap.css' %}"
    type="text/css"
>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Campaigns</title>
</head>
<body>
    <div class="row"><h1>My Campaigns</h1></div>
    <hr>
    <div class="row">
        <div class="col-4">
            <div class="card-fluid">
              <img class="card-img-top campaign_img" src="..." alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title campaign_name">Card title</h5>
                <p class="card-text campaign_description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card-fluid">
              <img class="card-img-top campaign_img" src="..." alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title campaign_name">Card title</h5>
                <p class="card-text campaign_description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card-fluid">
              <img class="card-img-top campaign_img" src="..." alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title campaign_name">Card title</h5>
                <p class="card-text campaign_description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        </div>
    </div>
</body>
</html>