<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class = container>
        <div>
            <h1>Edit Profile</h1>
            <form action="/" method="post"> {% csrf_token %}
                <div class="user-pass">

                    <input class="form-field" type="text" value= "{{ reload_content.0 }}" placeholder="Enter an email" name="email" >

                    <input class="form-field" type="text" value= "{{ reload_content.1 }}" placeholder="Enter first name" name="first_name" >

                    <input class="form-field" type="text" value= "{{ reload_content.2 }}" placeholder="Enter last name" name="last_name" >

                    <input class="form-field" type="text" value= "{{ reload_content.3 }}" placeholder="Confirm old password" name="password" >

                    <input class="form-field" type="text" value= "{{ reload_content.4 }}" placeholder="New password" name="password2" >

                    <button type="submit" name="edit_profile_button">Submit</button>

                </div>
            </form>
            <div>
                <p class="error-message">{{ message }}</p>
            </div>
        </div>
    </div>
</body>
</html>