{% load static %}
<link
    rel="stylesheet"
    href="{% static 'css/bootstrap.css' %}"
    type="text/css"
>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Campaign Search</title>
</head>
<body>
<nav class="navbar navbar-expand-lg rounded shadow mt-2">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">
                    Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                    Explore
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Popular
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                    Help
                </a>
              </li>
            </ul>
              {% if login is None %}
                <a class="nav-link" href="#">
                <form action="/" method="post"> {% csrf_token %}
                  <div class="pt-2">
                    <button type="button submit" class="btn primary-btn pr-1" name="login_page">Login</button>
                  </div>
                </form>
                </a>
              {% endif %}

              {% if login is not None %}
              <div class="row align-items-center">
                <div class="col-3">
                 <img src="../static/images/profile-user.png" alt="" class="user-profile">
                </div>
                <div class="col-6">
                  <div class="dropdown">
                    <a class="nav-link dropdown-toggle pr-2" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      My Profile
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li>
                        <a href="#" class="nav-link">
                          <form action="/" method="post"> {% csrf_token %}
                            <div class="d-grid gap-2">
                              <button type="button submit" class="btn btn-light btn-border-width:10px"name="my_campaigns">My Campaigns</button>
                            </div>
                          </form>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="nav-link">
                          <form action="/" method="post"> {% csrf_token %}
                            <div class="d-grid gap-2">
                              <button type="button submit" class="btn btn-light"name="create_campaign_page">Create Campaign</button>
                            </div>
                          </form>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="nav-link" name="edit_profile_page">
                          <form action="/" method="post"> {% csrf_token %}
                            <div class="d-grid gap-2">
                              <button type="button submit" class="btn btn-light"name="edit_profile_page">Edit Profile</button>
                            </div>
                          </form>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="nav-link">
                          <form action="/" method="post"> {% csrf_token %}
                            <div class="d-grid gap-2">
                              <button type="button submit" class="btn btn-danger btn-block"name="logout">Log Out</button>
                            </div>
                          </form>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              {% endif %}
          </div>
        </div>

    </nav>
<form action="/" method="post" class="form-container " enctype="multipart/form-data">{% csrf_token %}
    <h3>Search For Campaign</h3>
    <hr>
    <div class="form-group mt-4">
      <div class="row align-items-center">
        <label>Search Method</label>
        <select required class="form-select form-select-lg" aria-label="Default select example" name="search_type">
            <option selected value="by_code">Campaign Code</option>
            <option value="by_desc">Campaign Description</option>
            <option value="by_title">Campaign Title</option>
         </select>
         <div class="form-group">
            <label for="usernameInput">Search Parameter:</label>
            <input type="text" name="search_info" class="form-control" id="campaignInput" aria-describedby="campaignName" placeholder="Enter Information..." required>
        </div>
      </div>
      <div class="col-6">
          <button class="btn btn-primary btn-block mt-3" name="campaign_search">GO</button>
      </div>
    </div>
</form>
    <div>
        Results:
        <table border="1px solid black">
            <tr>
                <td>
                    <b><u>Name</u></b>
                </td>
                <td>
                    <b><u>Description</u></b>
                </td>
                <td>

                </td>
            </tr>
            {% for campaign in campaigns %}
            <tr>
                <td>
                    {{ campaign.campaign_name }}
                </td>
                <td>
                    {{ campaign.campaign_description }}
                </td>
                <td>
                    <form action="/" method="post" class="form-container " enctype="multipart/form-data">{% csrf_token %}
                        <button class="btn btn-primary btn-block mt-3" name="view_campaign">View Campaign</button>
                        <input input type="hidden" value={{ campaign.campaign_code }} name="campaign_code"></input>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>
</html>

<style>
  .user-profile{
  width: 35px;
  }
  .navbar{
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
  }
  table, th, td {
    border: 1px solid black;
    padding: 15px
}
</style>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


